# Releases

See [checksums](https://github.com/microsoft/vssnapshotdebugger-docker/blob/master/CHECKSUMS) for checksum information for individual files in each release.

## Latest Release

${LatestReleaseTable}
